body{
    padding: 4rem;
    background-image: url('bg-img.jpg');
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.email-show{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.card{
    flex: 1 0 calc(20% - 4rem);
    background: rgba(5, 68, 94, 0.1);
    backdrop-filter: blur(5px);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.card:hover{
    backdrop-filter: blur(15px);
    background: rgba(5, 68, 94, 0.3);
    border: 2px solid #93BCCB;
}

a.nostyle {
    text-decoration: none;
    color: white;
    cursor:pointer;
}

.email-full{
    background-color: rgba(5, 68, 94, 0.3);
    padding: 2rem;
    border: 1px solid #93BCCB;
    border-radius: 5px;
    color: white;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .email-show{
        flex-direction: column;
    }
    body{
        padding: 2rem;
    }
}

@media only screen and (max-width: 900px) {
    .card{
        flex: 1 0 calc(33% - 4rem)
    }
    body{
        padding: 2rem;
    }
}
